<nav>
<div class="site-title">
<a href="/"><h1>Blog Yosef</h1></a>
<p>EJS PROJECT</p>
<ul>
    <li><a href="/"></a>Home</li>
    <li><a href="/about"></a>About</li>
    <li><a href="/blogs/create">New Blog</a></li>
</ul>
</div>
</nav>