<!DOCTYPE html>
<html lang="en">
    <%- include("C:\Users\yosef\OneDrive\Desktop\0x04 Express Server - Dynamic Site\views\partials\head.ejs") %>
<body>
    <%- inlcude("C:\Users\yosef\OneDrive\Desktop\0x04 Express Server - Dynamic Site\views\partials\nav.ejs") %>

    <%- include("./partials/footer.ejs") %>
</body>
</html>