<nav>
<div class="site-title">
<a href="/"><h1>Blog Yosef</h1></a>
<p>EJS PROJECT</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
</ul>
</div>
</nav>