<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
        <%- inlcude("./partials/nav.ejs") %>


        <div class="about content"></div>
            <h2>About Us</h2>
            <p>Iam A Mern Stack Developer</p>
            <%- inlcude("./partials/footer.ejs") %>
</body>
</html>